<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head>
<title>Internal Error</title>
</head>
<body class="page page-500 page-centred">
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<div class="row-90">
						<h2 class="error-code font-xs-x7 font-md-x10">
							500 <i
								class="fa fa-file-text primary-colour font-xs-x6 font-md-x10"></i>
						</h2>
						<h2 class="error-message font-xs-x2 font-md-x2">Oh Snap! An unexpected error has occurred.</h2>
						<p class="error-details font-xs-x1">An email will have been sent to the development
						team and they will try to fix the problem. Sorry for any inconvenience caused.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
