<!DOCTYPE html>

<div th:fragment="player-standings">

	<h3 class="title-divider">
		League <span class="de-em">Standings</span>
	</h3>
	<div class="tabbable">
		<ul id="standingsTabs" class="nav nav-tabs">
			
			<li th:each="prize : ${prizes}" th:class="${prizeStat.first}? 'active'">
				<a th:href="'#tab' + ${prizeStat.count}" th:text="${prize.name}" 
				data-toggle="tab"></a></li>
		</ul>
		<div id="standingsTabsContent" class="tab-content">
			<div th:each="prize : ${prizes}" class="tab-pane fade" th:classappend="${prizeStat.first}? 'active in'" th:id="'tab' + ${prizeStat.count}">
				<table class="table">
					<thead>
						<tr>
							<th>Pos.</th>
							<th>Player</th>
							<th>Points</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="standing : ${prizeStandings[__${prizeStat.index}__]}" th:class="${standing.highlighted}? active">
							<td th:class="${standing.highlighted}? h5" th:text="${standing.position}"></td>
							<td th:class="${standing.highlighted}? h5" th:text="${standing.player.name}"></td>
							<td th:class="${standing.highlighted}? h5" th:text="${standing.pointsScored}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
</div>