<!DOCTYPE html>

<div th:fragment="league-blog">

	<h3 class="title-divider">
		League <span class="de-em">Blog</span>
	</h3>
	<div class="blog-post">
		<div class="media row">
			<div class="col-md-1 date-md">
				<div class="date-wrapper">
					<span class="date-m">Jun</span> <span class="date-d">06</span>
				</div>
			</div>
			<div class="col-md-11 media-body">
				<h3 class="title media-heading">Launch Day is Here</h3>
				<ul class="list-inline meta text-muted">
					<li><i class="fa fa-calendar">Wed 11th June 2014</i></li>
				</ul>
				<p class="lead">New-look PredictWeasel is now live.</p>
				<p>Wednesday June 11th saw the launch of PredictWeasel 2.0, in time for the 2014 FIFA World Cup. 
				Version 2.0 is a much needed upgrade to the venerable prediction game that first appeared in 2004.</p>
				<p>Potential players should sign up and start making their predictions.</p>
				<p>The first match of the World Cup will be played on Thursday 12th June at 21:00. Note that
				all times in PredictWeasel are in British Daylight Saving Time (BST)</p>
			</div>
		</div>
	</div>

</div>