<!DOCTYPE html>

<div th:fragment="league-blog">

	<h3 class="title-divider">
		League <span class="de-em">Blog</span>
	</h3>
	<div class="blog-post">
		<div class="media row">
			<div class="col-md-1 date-md">
				<div class="date-wrapper">
					<span class="date-m">Jun</span> <span class="date-d">06</span>
				</div>
			</div>
			<div class="col-md-11 media-body">
				<h3 class="title media-heading">Launch Day Looms</h3>
				<ul class="list-inline meta text-muted">
					<li><i class="fa fa-calendar">Fri 6th June 2014</i></li>
				</ul>
				<p class="lead">Excitement as the launch of the new-look PredictWeasel draws close.</p>
				<p>Tuesday June 10th will see the launch of PredictWeasel 2.0, in time for the 2014 FIFA World Cup. 
				Version 2.0 is a much needed upgrade to the venerable prediction game that first appeared in 2004.</p>
				<p>The decision to rewrite PredictWeasel in time for the World Cup was only taken a week or so ago so
				it has been something of a race against time to get it finished. There's still some functionality
				missing but it's sufficient to play the game.</p>
				<p>The first match of the World Cup will be played on Thursday 12th June.</p>
			</div>
		</div>
	</div>

</div>