<!DOCTYPE html>

<div th:fragment="league-blog">

	<h3 class="title-divider">
		<span>League Blog</span>
	</h3>
	<div class="blog-post">
		<div class="media row">
			<div class="col-md-1 date-md">
				<div class="date-wrapper">
					<span class="date-m">May</span> <span class="date-d">15</span>
				</div>
			</div>
			<div class="col-md-11 media-body">
				<h3 class="title media-heading">Title of today's blog post</h3>
				<ul class="list-inline meta text-muted">
					<li><i class="fa fa-calendar">Thu 15th May 2014</i></li>
				</ul>
				<p class="lead">Lead text from today's blog post.</p>
				<p>Montes cursus, turpis scelerisque adipiscing vel in.
					Ultrices platea ridiculus nascetur vut aliquet odio vel
					placerat! A, ultricies augue turpis scelerisque, porta diam ac!
					Pulvinar pulvinar enim odio enim dictumst, amet lorem aliquet
					ut rhoncus! Nisi. Ut aliquet non tincidunt, sit proin. Vel
					egestas, urna non tincidunt tincidunt, ultricies et vut
					placerat dis ac porttitor, in, facilisis. Etiam?</p>
				<p>Egestas scelerisque, vel auctor rhoncus. Urna penatibus,
					velit dis, non parturient scelerisque ac tempor a enim? Aenean?
					Urna dictumst, enim nec odio, turpis. Magnis tempor mus,
					egestas integer sit eu eu lectus vel. Hac lorem aliquet nec
					mattis, purus parturient in pulvinar nascetur aliquam! Sed
					cursus? Pid, nec eros quis, tincidunt odio pellentesque
					integer, porta, nunc? Duis aenean! In tortor risus enim.</p>
				<p>Sed elit ac? Vel parturient magna placerat non etiam.</p>
			</div>
		</div>
	</div>

</div>