<!DOCTYPE html>

<div th:fragment="league-blog">

	<h3 class="title-divider">
		League <span class="de-em">Blog</span>
	</h3>
	<div class="blog-post">
		<div class="media row">
			<div class="col-md-1 date-md">
				<div class="date-wrapper">
					<span class="date-m">Jun</span> <span class="date-d">06</span>
				</div>
			</div>
			<div class="col-md-11 media-body">
				<h3 class="title media-heading" th:text="${blogPost.title}">Launch Day is Here</h3>
				<ul class="list-inline meta text-muted">
					<li><i class="fa fa-calendar">Wed 11th June 2014</i></li>
				</ul>
				<p class="lead" th:text="${blogPost.leadText}">New-look PredictWeasel is now live.</p>
				<div th:text="${blogPost.postedText}">Wibble.</div>
			</div>
		</div>
	</div>

</div>