<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head>
	<title>Enter Results</title>
	<meta name="active-menu" content="#competition-menu"/>
	<script th:src="@{/js/competition.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 class="title-divider">
				Enter <span class="de-em">Results</span>
			</h2>
			<div th:if="${#lists.isEmpty(fixtures)}" th:class="${'bs-callout bs-callout-info'}">
				<h4>No fixtures</h4>
				<p>There are no fixtures with missing results.</p>
			</div>
			<div class="table" th:unless="${#lists.isEmpty(fixtures)}">
				<form action="" method="post" role="form">
					<div class="row">
					<div class="col-xs-3 col-sm-3 col-md-2"><strong>Date</strong></div>
					<div class="col-xs-2"><strong></strong></div>
					<div class="col-xs-3 col-sm-2 col-md-2 col-lg-1"><strong>Result</strong></div>
					<div class="col-xs-2"><strong></strong></div>
					<div class="col-xs-2 col-sm-3"><strong></strong></div>
					</div>
					<div class="row" th:each="fixture : ${fixtures}">
						<div class="col-xs-3 col-sm-3 col-md-2" th:text="${#calendars.format(fixture.matchTime,'E dd MMM HH:mm')}"></div>
						<div class="col-xs-2" th:text="${fixture.homeTeam.name}"></div>
						<div class="form-group col-xs-3 col-sm-2 col-md-2 col-lg-1">
							<input type="tel" th:id="'fixture_' + ${fixture.id}" class="form-control" 
												   th:value="${{fixture.result}}" name="fixture" 
												   placeholder=" - " th:autofocus="${fixtureStat.first}" />
							<input type="hidden" th:id="'originalScore_' + ${fixture.id}" 
								   th:value="${{fixture.result}}" />
						</div>
						<div class="col-xs-2 text-right" th:text="${fixture.awayTeam.name}"></div>
						<div class="col-xs-2 col-sm-3"><span class="text-danger"></span></div>
					</div>
					<input type="hidden" th:id="_csrf" th:value="${_csrf.token}"/>
				</form>
			</div>					
			
			<div class="col-xs-6">
				<p>
					When you've finished entering all of the results you should recalculate
					the player points totals for the prizes in all of this competition's leagues.
				</p>
				<p>
					You can still recalculate the points totals even if you don't enter any new results.
				</p>
			</div>
			<div>
				<a th:href="@{/competition/recalculatePointsTotals(competition=${param.competition})}">
				<button type="button" class="btn btn-lg btn-primary">
					Recalculate points 
				</button> </a>
			</div>
		</div>
	</div>
</body>
</html>