<!DOCTYPE html>
<html  layout:decorator="mainLayout">
<head>
	<title>Forgotten Password</title>
</head>
<body>
	<div layout:fragment="content">
    	<div class="container">
			<div class="row">
				<div class="col-md-6">
					<!-- Password Reminder form -->
					<form th:action="@{/forgottenPassword}" th:object="${forgottenPasswordRequest}" role="form" class="form-login form-wrapper form-narrow" method="post">
						<h3 class="title-divider">
							<span>Password Reminder</span> 
							<small>Please enter your username in the form below.</small>
						</h3>
                		<div th:class="${#fields.hasErrors('username')}? 'form-group has-error' : 'form-group'">
                  			<label class="sr-only" for="username">Email address</label>
                  			<input type="email" th:field="*{username}" class="form-control" placeholder="Email address *"/>
                  			<ul class="list-unstyled" th:if="${#fields.hasErrors('username')}">
								<li th:each="err : ${#fields.errors('username')}" th:text="${err}" />
							</ul>
                		</div>
                		<button class="btn btn-primary" type="submit">Get Reminder</button>
					</form>
	  			</div>
              	<div class="col-md-6">
					<h3 class="title-divider">
						<span>Notes</span> 
					</h3>
					<p>
					    If you've forgotten your password then enter the <strong>Email Address</strong> that is your username
					    and submit the form. We'll send you an email containing your password reminder. If you still can't remember it, 
					    or you haven't specified a reminder, then don't worry. The email will contain a link that will allow you to
					    reset your password.
					</p>
				</div>			  
			</div>
		</div>
	</div>
</body>
</html>