<!DOCTYPE html>
<html layout:decorator="helpLayout">
<head>
	<meta name="help-menu" content="#help-start"/>
</head>
<body>
	<div layout:fragment="help-content">
		<!--main content-->
		<div class="col-md-9">
			<h2 class="title-divider">
				<span>Getting <span class="de-em">Started</span></span> <small>Follow these steps to start playing your first game as quickly as possible:</small>
			</h2>
			<!-- Getting started -->
			<h4>Sign Up</h4>
			<p>When you sign up you create an ID for yourself that you'll
				need to use when you login to PredictWeasel. You'll receive
				an email shortly afterwards confirming your details.</p>
			<h4>Play!</h4>
			<p>At this point you'd either create your own league or wait from an
			invitation from another player to join a league they've created.</p>
			<p>However, as it's not yet possible for players to create their own
			leagues (because I've not had time to write that bit before the World
			Cup starts), I'll automatically subscribe you to the only league in
			town as soon as you've signed up.</p>
			<p>You can now play the game. Enter your predictions, wait for the
			results, and see where you stand in the league.</p>
			<p>Have fun!</p>
		</div>
	</div>
</body>
</html>