<!DOCTYPE html>
<html  layout:decorator="mainLayout">
<head>
	<title>Welcome</title>
	<meta name="active-menu" content="#home-menu"/>
</head>
<body>
	<!-- 
	<div layout:fragment="highlight">
	    <div class="inner">
				<div class="container">
				<div class="row text-center">
				  	<img src="img/slides/slide2.png" alt="Slide 2" />
				</div>
			</div>
	    </div>
	</div>
	-->

	<div layout:fragment="content">
       	<div class="container">
			<div class="row">
	        	<div class="col-xs-12 col-md-8">
	        		<h2 class="font-xs-x2 font-md-x2">Welcome to the new version of PredictWeasel</h2>
	        		<p>PredictWeasel hosts score prediction games. 
	        			You and the other players predict the results of sports fixtures and, 
	        			the better your prediction, the more points you score. 
	        			At the end of the competition, the players with the most points win the prizes.
	        		</p>
	        		<p>
	        			The most recent leagues were based on the 2010 FIFA World Cup. The 
	        			next is just about to start and will be based on the <strong>2014 FIFA World Cup</strong>,
	        			which starts in Brazil on Thursday 12th June, and continue until Sunday 13th July.
	        		</p>
	        		<h4>New Version</h4>
	        		<p>
	        			This is a brand new version of PredictWeasel, although it should feel familiar to those
	        			who have played before. You'll need to <a th:href="@{/signup}">Sign Up</a> first, then you're
	        			good to go. You'll have been automatically subscribed to the latest league so you can start
	        			making predictions straight away. Have a look at the <a th:href="@{/help/start}">help pages</a> 
	        			if you're not sure what to do.
	        		</p>
	        	</div>
				<div class="col-xs-6 col-md-4">
			    	<div sec:authorize="hasRole('ROLE_ANONYMOUS')" th:include="loginForm :: login-form"></div>
				</div>
        	</div>
		</div>
	</div>
</body>
</html>