<!DOCTYPE html>
<html layout:decorator="/mainLayout">
<head>
<title>League Home</title>
<script th:src="@{/js/league.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 class="title-divider">
				League<span class="de-em">Home</span> <small>Mick's Conference League</small>
			</h2>
			<div th:include="fixturesTest :: upcoming-fixtures"></div>
			<div th:include="resultsTest :: recent-results"></div>
			<div class="col-lg-4">
				<div th:include="standingsTest :: player-standings"></div>
			</div>
			<div class="col-lg-8">
				<div th:include="blogTest :: league-blog"></div>
			</div>
		</div>
	</div>
</body>
</html>