<!DOCTYPE html>
<html layout:decorator="mainLayout">
<head>
<title>League Home</title>
<script th:src="@{/js/league.js}"></script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 class="title-divider">
				League<span class="de-em">Home</span> <small th:text="${currentLeague.name}">A Conference League</small>
			</h2>
			<h3 class="title-divider">
				Upcoming <span class="de-em">Fixtures</span>
			</h3>
			<div th:include="upcomingFixtures :: upcoming-fixtures (true)"></div>
			<h3 class="title-divider">
				Latest <span class="de-em">Results</span>
			</h3>
			<div th:include="recentResults :: recent-results (true)"></div>
			<div class="row">
			<div class="col-lg-4">
				<div th:include="abbreviatedStandings :: player-standings (true)"></div>
			</div>
			<div class="col-lg-8">
				<div th:include="blogPost :: league-blog"></div>
				<div><a th:href="@{/league/blog}">View entire blog</a></div>
			</div>
			</div>
		</div>
	</div>
</body>
</html>