<!DOCTYPE html>
<html layout:decorator="/mainLayout">
<head>
<title>Reset Password</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<h2 class="title-divider">
				League<span class="de-em">Home</span> <small>Mick's Conference League</small>
			</h2>
			<div class="row">
				<div class="col-sm-8">
					<div th:include="fixturesTest :: upcoming-fixtures"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<div th:include="resultsTest :: recent-results"></div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div th:include="standingsTest :: player-standings"></div>
				</div>
			</div>
			<div class="col-sm-12">
				<div th:include="blogTest :: league-blog"></div>
			</div>
		</div>
	</div>
</body>
</html>