<!DOCTYPE html>

<div th:fragment="recent-results" th:class="col-xs-12">

	<h3 class="title-divider">
		Latest <span class="de-em">Results</span>
	</h3>
	<div class="table-responsive">
		<div th:if="${#lists.isEmpty(recentResults)}" th:class="${'bs-callout bs-callout-info'}">
			<h4>No results</h4>
			<p>There are no recent results.</p>
		</div>
		<div class="table" th:unless="${#lists.isEmpty(recentResults)}">
			<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-2"><strong>Date</strong></div>
			<div class="col-xs-2"><strong></strong></div>
			<div class="col-xs-1 text-center"><strong>Score</strong></div>
			<div class="col-xs-2"><strong></strong></div>
			<div class="col-xs-1 text-center"><strong>Prediction</strong></div>
			</div>
			<div class="row" th:each="prediction : ${recentResults}">
				<div class="col-xs-3 col-sm-3 col-md-2" th:text="${#calendars.format(prediction.fixture.matchTime,'E dd MMM HH:mm')}"></div>
				<div class="col-xs-2" th:text="${prediction.fixture.homeTeam.name}"></div>
				<div class="col-xs-1 text-center" th:text="${prediction.fixture.result}"></div>
				<div class="col-xs-2 text-right" th:text="${prediction.fixture.awayTeam.name}"></div>
				<div class="col-xs-1 text-center" th:text="${prediction.fixture.result}"></div>
			</div>
		</div>					
	</div>

</div>