<!DOCTYPE html>
<html  layout:decorator="mainLayout">
<head>
	<title>Reset Password</title>
</head>
<body>
	<div layout:fragment="content">
       	<div class="container">
			<div class="row">
              <div class="col-sm-6">
                <form th:action="@{/resetPassword}" th:object="${resetPasswordRequest}" role="form" class="form-login form-wrapper form-medium" method="post">
				  <h3 class="title-divider">
				    <span>Reset Password</span> 
					<small>Fields with an asterisk (*) are mandatory</small> 
				  </h3>
                  <div th:class="${#fields.hasErrors('password')}? 'form-group has-error' : 'form-group'">
                    <label for="password">Password *</label>
                    <input type="password" th:field="*{password}" class="form-control"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('password')}">
  						<li th:each="err : ${#fields.errors('password')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('confirmPassword')}? 'form-group has-error' : 'form-group'">
                    <label for="confirmPassword">Confirm password *</label>
                    <input type="password" th:field="*{confirmPassword}" class="form-control"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('confirmPassword')}">
  						<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('passwordReminder')}? 'form-group has-error' : 'form-group'">
                    <label for="passwordReminder">Password reminder</label>
                    <input type="text" th:field="*{passwordReminder}" class="form-control"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('passwordReminder')}">
  						<li th:each="err : ${#fields.errors('passwordReminder')}" th:text="${err}" />
					</ul>
                  </div>
                  <input type="hidden" name="token" th:value="${resetToken}"/>
                  <button class="btn btn-primary" type="submit">Save</button>
			  	  | <small>Already signed up? <a th:href="@{/login}">Login here</a>.</small> 
                </form>
              </div>
              <div class="col-sm-12 col-md-6">
				<h3 class="title-divider">
					<span>Notes</span> 
				</h3>
				<p>Please enter your new <strong>Password</strong> in the form to the left. Enter the same value in the <strong>Confirm Password</strong>.
		    		As you're changing your password you may also want to change your <strong>Password Reminder</strong>.
		    	</p>
              </div>
			</div>
		</div>
	</div>
</body>
</html>