<!DOCTYPE html>
<html  layout:decorator="mainLayout">
<head>
	<title>Reset Password Failed</title>
</head>
<body>
	<div layout:fragment="content">
	    <div th:if="${#httpServletRequest.getAttribute('messageCode')}" class="container">
			<div class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert">×</button>
				<h4 th:text="#{${#httpServletRequest.getAttribute('messageCode')}}"></h4>
			</div>   
	    </div>
	    <div class="container">
			<div class="row">
				<p>
					If you <a th:href="@{/forgottenPassword}">try again</a>, make sure you promptly 
					use the request sent to you in the email. 
				</p>
        	</div>
		</div>
	</div>
</body>
</html>