<!DOCTYPE html>
<html  layout:decorator="mainLayout">
<head>
	<title>Sign Up</title>
</head>
<body>
	<div layout:fragment="content">
       	<div class="container">
			<div class="row">
              <div class="col-sm-6">
                <form th:action="@{/signup}" th:object="${signupRequest}" role="form" class="form-login form-wrapper form-medium" method="post">
				  <h3 class="title-divider">
				    <span>Sign Up</span> 
					<small>Fields with an asterisk (*) are mandatory</small> 
				  </h3>
                  <div th:class="${#fields.hasErrors('user.username')}? 'form-group has-error' : 'form-group'">
                    <label class="sr-only" for="user.username">Email address</label>
                    <input type="email" th:field="*{user.username}" class="form-control" placeholder="Email address *"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('user.username')}">
  						<li th:each="err : ${#fields.errors('user.username')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('user.password')}? 'form-group has-error' : 'form-group'">
                    <label class="sr-only" for="user.password">Password</label>
                    <input type="password" th:field="*{user.password}" class="form-control" placeholder="Password *"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('user.password')}">
  						<li th:each="err : ${#fields.errors('user.password')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('confirmPassword')}? 'form-group has-error' : 'form-group'">
                    <label class="sr-only" for="confirmPassword">Confirm Password</label>
                    <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Confirm password *"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('confirmPassword')}">
  						<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('user.passwordReminder')}? 'form-group has-error' : 'form-group'">
                    <label class="sr-only" for="user.passwordReminder">Password reminder</label>
                    <input type="text" th:field="*{user.passwordReminder}" class="form-control" placeholder="Password reminder"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('user.passwordReminder')}">
  						<li th:each="err : ${#fields.errors('user.passwordReminder')}" th:text="${err}" />
					</ul>
                  </div>
                  <div th:class="${#fields.hasErrors('user.name')}? 'form-group has-error' : 'form-group'">
                    <label class="sr-only" for="user.name">Name</label>
                    <input type="text" th:field="*{user.name}" class="form-control" placeholder="Name *"/>
                    <ul class="list-unstyled" th:if="${#fields.hasErrors('user.name')}">
  						<li th:each="err : ${#fields.errors('user.name')}" th:text="${err}" />
					</ul>
                  </div>
                  <button class="btn btn-primary" type="submit">Sign up</button>
			  	  | <small>Already signed up? <a th:href="@{/login}">Login here</a>.</small> 
                </form>
              </div>
              <div class="col-sm-12 col-md-6">
				<h3 class="title-divider">
					<span>Notes</span> 
				</h3>
				<p>Please fill in the form to register as a user of PredictWeasel. Until you've registered, you won't be able to make predictions or join any leagues.</p>
                <p>You'll be able to change your details later if you wish.</p>
				<p>Your <strong>Email Address</strong> is what you'll use to log in to PredictWeasel. It must be unique and you will be told if someone has
                already registered with that address. This is also the address PredictWeasel will use to notify you of anything important.</p>
                <p>You'll also have to supply a <strong>Password</strong> when you log in. Enter the same value for the <strong>Password</strong>
                and <strong>Confirm Password</strong> fields. In case you forget your password you can also enter a <strong>Password Reminder</strong>.
                If you later need to reset your password, because you've forgotten it, we'll email you this reminder.</p>
                <p>The <strong>Name</strong> is how you'll appear as to others on the web site, so bear that in mind!</p>				  
              </div>
			</div>
		</div>
	</div>
</body>
</html>